<title>Vibe - Team feedback made safe and hassle-free</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<link rel="icon" type='image/x-icon' href='/favicon.ico'>

{% if env == 'development' %}
<link rel="stylesheet" href="/css/all.css">
{% else %}
<link rel="stylesheet" href="/css/all.css?v={{ config.frontendCacheVersion }}">
{% endif %}

<meta property="og:title" content="Vibe"/>
<meta property="og:description" content="Team feedback made safe and hassle-free"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.getvibe.com"/>
<meta property="og:image" content="http://www.getvibe.com/img/logo/primary-300.png">
<meta property="og:site_name" content="Vibe - Team feedback made safe and hassle-free">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="//cdn.optimizely.com/js/1628331294.js"></script>
