/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Regular.eot');
  src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */ url('fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
body,
html {
  background: #122b43;
  color: white;
}
.icon-blue {
  color: #31a6bd;
}
.icon-orange {
  color: #f3b361;
}
#triangleDown {
  margin-bottom: -5px;
  background: white;
}
#triangleDown path {
  fill: #E5ECF3;
}
#triangleUp {
  margin-bottom: -5px;
  background: white;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#triangleUp path {
  fill: #3D90A5;
}
.splash-page .other-sections {
  position: absolute;
  top: 100%;
  width: 100%;
}
.splash-page .section {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: table;
}
.splash-page .section.safety-section h2 {
  margin-bottom: 90px !important;
  margin-top: 0px;
}
@media (max-width: 768px) {
  .splash-page .section.safety-section h2 {
    margin-bottom: 40px;
  }
}
.splash-page .section.small-section {
  height: auto;
  padding: 90px 0;
}
@media (max-width: 768px) {
  .splash-page .section.small-section {
    padding: 50px 0;
  }
}
.splash-page .section.light-solid {
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #e5ecf3 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #e5ecf3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfcfc', endColorstr='#ffe5ecf3', GradientType=0);
  color: #595F72;
  padding: 90px 0 70px;
}
.splash-page .section.light-solid h2 {
  color: #5B688A;
}
.splash-page .section.white {
  background: white;
  color: #595F72;
}
.splash-page .section.white h2 {
  color: #5B688A;
}
.splash-page .section.white i {
  font-size: 100px;
  margin: 70px 0 60px;
}
.splash-page .section.ss-style-doublediagonal {
  z-index: 1;
  padding-top: 6em;
}
.splash-page .section.ss-style-doublediagonal::before,
.splash-page .section.ss-style-doublediagonal::after {
  position: absolute;
  content: '';
  top: -5%;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.splash-page .section.ss-style-doublediagonal::before {
  top: 0;
  content: '';
  height: 50%;
  background: #116094;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}
.splash-page .section.blue {
  background: #3D90A5;
  color: white;
}
.splash-page .section.blue h2 {
  color: white;
}
.splash-page .section.blue i {
  font-size: 100px;
  margin: 70px 0 60px;
}
.splash-page .section.dark-blue-gradient {
  background-image: -webkit-radial-gradient(bottom, #2f557c, #122b43);
  background-image: radial-gradient(circle at bottom, 50% 50%, #2f557c, #122b43);
  background-repeat: no-repeat;
}
.splash-page .section > div {
  display: table-cell;
  vertical-align: middle;
}
.splash-page .section.intro-section {
  position: absolute;
  height: 100%;
}
.splash-page .section.intro-section > div {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  display: table;
}
.splash-page .section.intro-section > div > div {
  padding-bottom: 444px;
  vertical-align: middle;
  display: table-cell;
}
.splash-page .section.intro-section .intro-page {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.26s ease-out 0s;
  transition: all 0.26s ease-out 0s;
}
.splash-page .section.intro-section .intro-page.splash-request-access {
  padding-bottom: 0;
  -webkit-transition: all 0.26s ease-out 0.16s;
  transition: all 0.26s ease-out 0.16s;
}
.splash-page .section.intro-section .intro-page.page-hide {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: all 0.26s ease-out 0s;
  transition: all 0.26s ease-out 0s;
}
.splash-page .section.intro-section .intro-page.page-hide.splash-intro {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
.splash-page .section.intro-section .splash-request-access > div {
  padding-bottom: 0;
  vertical-align: middle;
}
.splash-page .section.intro-section .splash-request-access > div .container {
  max-width: 600px;
}
.splash-page .section.intro-section .splash-request-access > div h2 {
  font-size: 32px;
  margin: 0;
}
@media (max-width: 480px) {
  .splash-page .section.intro-section .splash-request-access > div h2 {
    font-size: 24px;
  }
}
.splash-page .section.intro-section .splash-request-access > div p {
  font-size: 14px;
  font-weight: 200;
  margin: 20px auto 32px;
  max-width: 390px;
  opacity: .7;
}
.splash-page .section.intro-section .splash-request-access > div label {
  width: 120px;
  text-align: right;
  margin-right: 13px;
}
.splash-page .section.intro-section .splash-request-access > div button {
  background: transparent;
  text-transform: uppercase;
  padding: 14px 50px;
  margin: 20px 0 0;
  color: rgba(36, 226, 150, 0.98);
  border: 1px solid rgba(36, 226, 150, 0.6);
  opacity: .84;
}
.splash-page .section.intro-section .splash-request-access > div button:hover {
  opacity: 1;
}
.splash-page .section.intro-section .splash-request-access > div a.cancel-request-access {
  position: absolute;
  top: 16px;
  right: 10px;
  opacity: 0.6;
  cursor: pointer;
}
@media (max-width: 480px) {
  .splash-page .section.intro-section .splash-request-access > div a.cancel-request-access {
    top: 12px;
    right: 8px;
  }
}
.splash-page .section.intro-section .splash-request-access > div a.cancel-request-access:hover {
  opacity: 0.84;
}
.splash-page .section.intro-section .splash-request-access > div a.cancel-request-access i {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 42px;
  color: white;
}
@media (max-width: 480px) {
  .splash-page .section.intro-section .splash-request-access > div a.cancel-request-access i {
    font-size: 32px;
  }
}
.splash-page .section.intro-section .splash-intro h1 {
  color: white;
  font-size: 82px;
  font-weight: 600;
}
@media (max-width: 992px) {
  .splash-page .section.intro-section .splash-intro h1 {
    font-size: 68px;
  }
}
@media (max-width: 480px) {
  .splash-page .section.intro-section .splash-intro h1 {
    font-size: 48px;
  }
}
.splash-page .section.intro-section .splash-intro p {
  color: white;
  font-size: 38px;
  width: 440px;
  margin: 20px auto 0;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .splash-page .section.intro-section .splash-intro p {
    font-size: 28px;
    width: 360px;
  }
}
@media (max-width: 480px) {
  .splash-page .section.intro-section .splash-intro p {
    font-size: 20px;
    margin: 10px auto 0;
    width: 300px;
  }
}
.splash-page .section.intro-section .splash-buttons {
  margin-top: 30px;
}
@media (max-width: 480px) {
  .splash-page .section.intro-section .splash-buttons {
    margin-top: 12px;
  }
}
.splash-page .section.intro-section .splash-buttons a.btn {
  opacity: .84;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 18px;
  margin: 0 5px;
}
.splash-page .section.intro-section .splash-buttons a.btn.get-beta-access {
  color: rgba(36, 226, 150, 0.98);
  border: 1px solid rgba(36, 226, 150, 0.6);
}
.splash-page .section.intro-section .splash-buttons a.btn:hover {
  opacity: 1;
}
@media (max-width: 480px) {
  .splash-page .section.intro-section .splash-buttons a.btn {
    margin: 6px 0;
    padding: 10px 18px;
  }
}
.splash-page .section.intro-section .splash-buttons.beta-success {
  display: inline-block;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
}
.splash-page .section.intro-section .splash-buttons.beta-success h3 {
  margin: 0;
}
.splash-page .section.intro-section .splash-buttons.beta-success p {
  font-size: 14px;
  width: auto;
}
.splash-page .section.intro-section img {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -350px;
}
@media (max-width: 768px) {
  .splash-page .section.intro-section img {
    width: 600px;
    margin-left: -300px;
  }
  .splash-page .section.intro-section > div > div {
    padding-bottom: 398px;
  }
}
@media (max-width: 620px) {
  .splash-page .section.intro-section img {
    width: 460px;
    margin-left: -230px;
  }
  .splash-page .section.intro-section > div > div {
    padding-bottom: 320px;
  }
}
@media (max-width: 480px) {
  .splash-page .section.intro-section img {
    width: 400px;
    margin-left: -200px;
  }
  .splash-page .section.intro-section > div > div {
    padding-bottom: 270px;
  }
}
@media (max-width: 340px) {
  .splash-page .section.intro-section img {
    width: 300px;
    margin-left: -150px;
  }
  .splash-page .section.intro-section > div > div {
    padding-bottom: 190px;
  }
}
.splash-page .section.intro-section a.log-in {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px 27px;
  font-weight: bold;
  background: none;
  border-color: rgba(255, 255, 255, 0.39);
  color: rgba(255, 255, 255, 0.92);
}
.splash-page .section.intro-section a.log-in:hover {
  border-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
@media (max-width: 480px) {
  .splash-page .section.intro-section a.log-in {
    font-size: 14px;
    top: 8px;
    right: 8px;
    padding: 5px 11px;
    opacity: .8;
    border-color: rgba(255, 255, 255, 0.29);
  }
}
.splash-page .section h2 {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .splash-page .section h2 {
    font-size: 32px;
  }
}
.splash-page .section p {
  font-size: 22px;
  font-weight: 200;
}
@media (max-width: 992px) {
  .splash-page .section p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .splash-page .section p {
    margin: 0 0 38px;
    padding: 0 20px;
  }
}
.splash-page .section .icon-bubble {
  border-radius: 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  color: white;
  margin-bottom: 30px;
}
.splash-page .section .icon-bubble i {
  font-size: 54px;
  margin-top: 35px;
}
.splash-page .section .icon-bubble.bubble-1 {
  background: #31a6bd;
}
.splash-page .section .icon-bubble.bubble-1 i {
  margin-left: -16px;
}
.splash-page .section .icon-bubble.bubble-2 {
  background: #24e296;
}
.splash-page .section .icon-bubble.bubble-3 {
  background: #AD3FC2;
}
.splash-page .footer {
  background: #122b43;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  padding: 40px 0;
}
.splash-page .footer a {
  color: rgba(255, 255, 255, 0.84);
}
