<div class="overlay-container"></div>
<div class="notifications-container">
	<div class="container">
		<div class="notifications-view">
			<ul>
				<li>
					<a href="#" class="media">
						<img class="pull-left" src="">
						<div class="media-body">
							<p>This is <strong>the notification</strong> and it is <strong>great.</strong></p>
							<span>
								26 minutes ago
							</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="app-header"></div>
<div class="screen current"></div>
<div class="notif-holder">
	<div class="v-centered">
		<div>
			<div class="notif-text"></div>
		</div>
	</div>
</div>
