<% if (window.Vibe.user.get('isAdmin')) { %>
<a href="#" class="pull-down">
	<i class="icon x-icon">&#61943;</i>
</a>
<% } %>
<div class="v-centered">
	<div>
		<h4><%- feedback.get('body') %></h4>
	</div>
</div>
<div class="action-bar clearfix">
	<% if (feedback.get('current_user_agreed')) { %>
	<a href="#" class="btn agreed">
		<i class="icon">&#61845;</i>
		Agreed! <% if (feedback.get('num_votes') > 0) { %>(<%- feedback.get('num_votes') %>)<% } %>
	</a>
	<% } else { %>
	<a href="#" class="btn agree">
		<i class="icon">&#61845;</i>
		Agree <% if (feedback.get('num_votes') > 0) { %>(<%- feedback.get('num_votes') %>)<% } %>
	</a>
	<% } %>
	<% if (numUnread > 0) { %>
	<a href="#" class="btn discuss with-unread">
		<i class="icon">&#61704;</i>
		Discuss <% if (numTotalChats > 0) { %>(<%- numTotalChats %>)<% } %>
		<span class="unread-chats">
			<%- numUnread %><span> new</span>
		</span>
	</a>
	<% } else { %>
	<a href="#" class="btn discuss">
		<i class="icon">&#61704;</i>
		Discuss <% if (numTotalChats > 0) { %>(<%- numTotalChats %>)<% } %>
	</a>
	<% } %>
</div>
