<% _.each(steps, function(step, ind) { %>
<div class="pane v-centered">
	<div>
		<div class="transparent-modal">
			<div class="transparent-modal-content step-<%= ind %>">
				<% if (step.img) { %>
				<img src="<%= step.img %>">
	 			<% } %>
				<% if (step.icon) { %>
				<div class="icon-holder" style="background: <%= step.iconbg || 'rgba(0,0,0,0.24)' %>">
					<i class="icon">&<%= step.icon %>;</i>
				</div>
				<% } %>
				<% if (step.title) { %>
				<h3><%= step.title %></h3>
				<% } %>
				<% if (step.body) { %>
				<p>
					<%= step.body %>
				</p>
				<% } %>
			</div>
		</div>
	</div>
</div>
<% }); %>
<a href="#" class="btn btn-success next">Next</a>
