<% if (leftAction) { %>
	<a href="#" class="btn btn-link left-action" title="<%- leftAction.title %> <%= leftAction.id %>">
		<% if (leftAction.image) { %>
		<img src="<%= leftAction.image %>">
		<% } %>
		<% if (leftAction.icon) { %>
		<i class="icon icon-<%= leftAction.icon.slice(1) %> <%= leftAction.iconClass %>">&<%= leftAction.icon %></i>
		<% } %>
		<% if (leftAction.title) { %>
		<span><%- leftAction.title %></span>
		<% } %>
		<% if (leftAction.num_unread) { %>
		<span class="unread-num"><%- leftAction.num_unread %></span>
		<% } %>
	</a>
<% } %>

<h2><%- title %></h2>

<% if (rightAction) { %>
	<a href="#" class="btn btn-link right-action" title="<%- rightAction.title %>">
		<% if (rightAction.icon) { %>
		<i class="icon icon-<%= rightAction.icon.slice(1) %> <%= rightAction.iconClass %>">&<%= rightAction.icon %></i>
		<% } %>
		<% if (rightAction.title) { %>
		<span><%- rightAction.title %></span>
		<% } %>
	</a>
<% } %>
