<% if (leftAction) { %>
	<a href="#" class="btn btn-link left-action" title="<%- leftAction.title %>">
		<% if (leftAction.icon) { %>
		<i class="icon icon-<%= leftAction.icon.slice(1) %>">&<%= leftAction.icon %></i>
		<% } %>
		<% if (leftAction.title) { %>
		<span><%- leftAction.title %></span>
		<% } %>
	</a>
<% } %>

<h2><%- title %></h2>

<% if (rightAction) { %>
	<a href="#" class="btn btn-link right-action" title="<%- rightAction.title %>">
		<% if (rightAction.icon) { %>
		<i class="icon icon-<%= rightAction.icon.slice(1) %>">&<%= rightAction.icon %></i>
		<% } %>
		<% if (rightAction.title) { %>
		<span><%- rightAction.title %></span>
		<% } %>
	</a>
<% } %>
