<a href="#" class="media">
	<% if (!model.read || model.pseudoRead) { %><span class="unread"></span><% } %>

	<% if (model.img.length) { %>
		<img src="<%= model.img %>">
	<% } else if (model.type === 'question-vote') { %>
		<span class="fake-img img-question">
			<i class="icon">&#61753;</i>
		</span>
	<% } else if (model.type === 'feedback-rejected') { %>
		<span class="fake-img img-feedback-rejected">
			<i class="icon">&#61733;</i>
		</span>
	<% } else if (model.type === 'feedback-approved') { %>
		<span class="fake-img img-feedback-approved">
			<i class="icon">&#61790;</i>
		</span>
	<% } else if (model.type === 'feedback-agree') { %>
		<span class="fake-img img-feedback-agree">
			<i class="icon">&#61845;</i>
		</span>
	<% } %>

	<div class="media-body">
		<p>
			<% if (model.type === 'question') { %>
				<strong><%- model.data.user %></strong> just asked a question: "<%- model.data.question %>"
			<% } else if (model.type === 'question-vote') { %>
				<strong><%- numPeopleString %></strong> voted on "<%= model.data.question %>"
			<% } else if (model.type === 'comment') { %>
				<%- whoString %> commented on "<%= body_text %>"
			<% } else if (model.type === 'comment-like') { %>
				<strong><%- numPeopleString %></strong> liked your comment: "<%- model.data.question %>"
			<% } else if (model.type === 'feedback-rejected') { %>
				Sorry, your suggestion wasn't selected to send to everyone because "<%= model.data.reason %>"
			<% } else if (model.type === 'feedback-approved') { %>
				Congratulations, your feedback was just sent to everyone!
			<% } else if (model.type === 'feedback-agree') { %>
				<strong><%- numPeopleString %></strong> agreed with the suggestion "<%- model.data.feedback %>"
			<% } %>
		</p>
		<span>
			<%= timeAgo %>
		</span>
	</div>
</a>
