<h4><%- question.get('body') %></h4>
<div class="vote-results-container <%- question.get('current_user_voted') ? 'voted' : '' %>">
	<ul class="answers">
		<li class="top-left">
			<a href="#" data-answer="4">
				<div>
					<img src="<%= window.staticRoute %>img/lol-100.png">
				</div>
			</a>
		</li>
		<li class="top-right">
			<a href="#" data-answer="3">
				<div>
					<img src="<%= window.staticRoute %>img/happy-100.png">
				</div>
			</a>
		</li>
		<li class="bottom-left">
			<a href="#" data-answer="2">
				<div>
					<img src="<%= window.staticRoute %>img/sad-100.png">
				</div>
			</a>
		</li>
		<li class="bottom-right">
			<a href="#" data-answer="1">
				<div>
					<img src="<%= window.staticRoute %>img/cry-100.png">
				</div>
			</a>
		</li>
	</ul>
	<div class="chart-container"></div>
</div>
<div class="action-bar clearfix"></div>
