<div class="post-wrapper close-modal">
	<div class="container close-modal">
		<div href="#" class="new-post btn btn-info">
			<span class="initButtonText">
				<i class="icon">&#61943;</i>
				New anonymous suggestion
			</span>
			<div class="input-wrap">
				<div class="identity-wrap">
					<div class="identity">
						<img src="<%= window.staticRoute %>img/anonymous.png">
						<span class="anony-name">Anonymous</span>
						<i class="icon">&#61812;</i>
						<span class="admin-layer">
							<%= adminNames %>
							<img src="<%= adminAvatar %>">
						</span>
					</div>
				</div>
				<div class="v-centered">
					<div class="input-center">
						<textarea></textarea>
					</div>
				</div>
				<span class="messaging">We're all friends here!</span>
				<span class="length-marker">0/<%- maxTextLength %></span>
			</div>
		</div>
	</div>
</div>
