<div class="custom-picker">
	<input type="text" name="custom_question" class="form-control" placeholder="Type a custom poll...">
	<button type="button" class="btn btn-info">Add</button>
</div>
<ul class="questions">
	<li class="divider">
		Selected
	</li>
	<li>
		<h3>How is team morale?</h3>
		<a class="icon unselect" href="#">&#61943;</a>
	</li>
	<li>
		<h3>Rank the quality of our recent design deliverables.</h3>
		<a class="icon unselect" href="#">&#61943;</a>
	</li>
	<li class="divider">
		Suggested
	</li>
	<li>
		<h3>How are things?</h3>
		<a class="select btn btn-info" href="#">Add</a>
	</li>
</ul>
