<div class="question-col">
	<h3><%- model.body %></h3>
	<div class="question-meta">
		<div class="checkbox">
			<input type="checkbox" name="checkbox_<%- model._id %>" id="checkbox_<%- model._id %>" <% if (model.audience === 'admins') { %>checked<% } %>>
			<label for="checkbox_<%- model._id %>"></label>
		</div>
		<span class="results-label">Admin only results?</span>
		<span class="last-sent">
			Last sent <%- lastSentString %> <% if (model.user_last_sent) { %>by <%- model.user_last_sent.name %><% } %>
		</span>
	</div>
</div>
<% if (question_type === 'suggested') { %>
<div class="save-col">
	<a href="#" class="btn btn-info action save-question">
		<span class="visible-xs">Save</span>
		<span class="hidden-xs">
			<i class="icon">&#61943;</i>
			Save to my polls
		</span>
	</a>
</div>
<% } else { %>
<a href="#" class="x-action action">
	<i class="icon x-icon">&#61943;</i>
</a>
<div class="send-now-col">
	<% if (!sentInLastDay) { %>
	<a href="#" class="btn btn-success send-now">
		<span class="hidden-xs">Send now</span>
		<span class="visible-xs">Send</span>
	</a>
	<% } else { %>
	<a href="#" class="btn btn-success send-now" disabled="disabled">Sent!</a>
	<% } %>
</div>
<% } %>
