.time-series-chart-view {
	height: 260px;

	@media (max-width: 550px) {
		height: 100%;
	}

	svg {
		display: block;
		margin: 0 auto;
		.translate3d(0, 0, 0);
		.transition(all 0.6s ease-out);
	}

	line {
		fill: none;
		stroke: #F8BC65;
		stroke-width: 2px;
		opacity: 1;

		&.axis {
			opacity: 0.1;
			stroke: url(#axis-gradient);
		}

		&.anim {
			.transition(all 1.2s ease-in-out);
		}

		&.new {
			opacity: 0;
			.transition(all 0s);
		}
	}

	circle {
		fill: #FFF;
		opacity: 1;

		&.anim {
			.transition(all 1.2s ease-in-out);
		}

		&.new {
			opacity: 0;
			.transition(all 0s);
		}
	}

	text {
		fill: rgba(255, 255, 255, 0.6);

		@media (max-width: @screen-xs) {
			font-size: 12px;
		}
	}
}

.rating-chart-view {
	rect {
		fill: #F8EEDF;
		.transition(all 0.8s ease-in-out);

		&.zero {
			fill: #F8B653;
		}
	}
}

.percentage-tooltip {
	position: absolute;
	background: rgb(241, 198, 134);
	color: #633E0A;
	padding: 8px 0 10px;
	width: 90px;
	font-size: 24px;
	font-weight: 600;
	border-radius: 8px;
	opacity: 0;
	.translate3d(0, 10px, 0);
	.transition(all 0.24s ease-in-out);

	&.fadeIn {
		opacity: 1;
		.translate3d(0, 0, 0);
	}

	span.voted-so-far {
		display: block;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 400;
		opacity: .6;
	}

	&:after {
		content: '';
		position: absolute;
		top: -7px;
		left: 0;
		margin-left: -9px;
		border-bottom: 17px solid rgb(241, 198, 134);
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		.rotate(-45deg);
	}

	@media (max-width: 550px) {
		width: 70px;
		font-size: 18px;
	}

	@media (max-width: @screen-xs) {
		width: 54px;
		font-size: 16px;
		padding: 4px 0 6px;
	}
}
