form.invite-user {
	width: 100%;
	position: relative;
	background: @vibe-light;
	border-radius: @border-radius-large;
	padding: 15px;
	margin: 30px 0 50px 0;

	.form-group {
		width: calc(~"100% - 105px");
		margin: 0 10px 0 0;
		display: inline-block;
		vertical-align: middle;

		input {
			width: 100%;
		}
	}

	button.btn {
		width: 90px;
	}

	@media (max-width: @screen-xs) {
		margin: 15px 0 0 0;
		padding: 8px;

		.form-group {
			width: calc(~"100% - 70px");
			margin: 0 6px 0 0;

			input {
				.input-sm;
			}
		}

		button.btn.btn-lg {
			.input-sm;
			width: 60px;
			padding: 5px 10px;
		}
	}
}

.manage-team-view {
	.settings-group {
		text-align: left;

		@media (max-width: @screen-xs) {
			margin-bottom: 27px;
		}
	}

	ul.user-invite-list {
		list-style: none;
		padding: 0;

		li {
			padding: 4px 0;
			position: relative;
		}

		span { vertical-align: bottom; }

		span.email {
			width: calc(~"100% - 180px");
			display: inline-block;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		span.invited {
			color: @vibe-lighter;
			font-size: @font-size-small;
			margin-right: 30px;
		}

		a.uninvite {
			position: absolute;
			font-size: 24px;
			top: 0;
			right: 0;
			.x-icon;
		}
	}

	ul.user-list-view .media {
		width: calc(~"100% - 115px");
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
