.settings-view {
	text-align: left;
	padding: 15px;

	a.settings-item-row {
		cursor: pointer;
	}

	.settings-item-row {
		position: relative;
		display: block;
		padding: 13px 0;
		margin-right: -15px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		color: white;
		.transition(background 0.12s ease-out);

		&:hover {
			text-decoration: none;
			background: rgba(255,255,255,.03);
		}

		& + .settings-item-row {
			border-top: none;
		}

		i.icon.pull-right {
			position: absolute;
			right: 15px;
			top: 9px;
			opacity: 0.5;
		}
	}

	.input-group {
		label {
			font-weight: 600;
		}

		input {
			position: absolute;
			top: 0;
			width: auto;
			left: 70px;
			right: 10px;
			background: none;
			border: none;
			box-shadow: none;
			padding: 15px 0;
			font-weight: 300;
			opacity: 0.8;
		}
	}
}

.settings-group {
	margin: 23px 0 42px 0;

	h3 {
		.std-heading;
	}

	& > h4 {
		font-weight: 600;
		margin-bottom: 15px;
	}

	&.with-avatar {
		position: relative;

		.avatar-picker {
			position: absolute;
			top: 18px;
			left: 0px;
		}

		.form-groups-right {
			padding-left: 106px;
		}
	}
}

.settings-edit-field-view {
	.form-horizontal {
		padding: 30px 0;

		label {
			text-align: right !important;
		}

		.input-col {
			padding: 0 0 0 15px;
		}
	}
}
