{% extends '../layouts/default.html' %}

{% block content %}
	<div class="page-header">
		<a href="/login" class="btn btn-default btn-lg back"><i class="icon">&#61760</i><span> Log in</span></a>
	</div>
	<div class="form-step-wrapper full-height">
		<div class="form max-400 v-centered fixed">
			<div>
				<h1 class="sub-header">Forgot Password</h1>
				<h2 class="big">We all forget now and then...</h2>
				<form action="/" method="post" class="forgot_password form-horizontal">
					<div class="alert alert-block alert-danger"></div>
					<div class="input-group input-group-lg">
						<span class="input-group-addon">Email</span>
						<input class="form-control" id="email" type="text" name="email" placeholder="example@email.com">
					</div>
					<div class="form-actions form-actions-lg">
						<button type="submit" class="btn btn-success btn-lg">Reset Password</button>
					</div>
				</form>
			</div>
		</div>
		<div class="form-success v-centered fixed">
			<div>
				<h1 class="sub-header">Forgot Password</h1>
				<h2 class="big">Great!</h2>
				<p>We're sending you and email to reset your password</p>
				<a href="/login" class="btn btn-default"><i class="icon">&#61760</i>Back to log in</a>
			</div>
		</div>
	</div>

	<script>
		window.pageName = 'forgot_password';
	</script>
	<script data-main="js/build/start-page" src="/js/libs/require.js"></script>
{% endblock %}
