{% extends 'auth.html' %}

{% block main %}
	<h2 class="sub-header">Log in</h2>
{% endblock %}

{% block auth %}
  <form action="/users/session" method="post" class="login form-horizontal">
    <div class="control-group">
      <div class="controls">
        <input id="email" type="text" name="email" placeholder="Email">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input id="password" type="password" name="password" placeholder="Password">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </form>
{% endblock %}
