{% extends '../layouts/default.html' %}

{% block content %}
	<div class="page-header">
		<a href="/login" class="btn btn-default btn-lg back"><i class="icon">&#61760</i><span> Log in</span></a>
	</div>
	<div class="form-step-wrapper full-height">
		<div class="form max-500 v-centered fixed">
			<div>
				<h1 class="sub-header">Reset your password</h1>
				<h2 class="big">Pick a new one</h2>
				<form action="/" method="post" class="reset_password form-horizontal">
					<div class="alert alert-block alert-danger"></div>
					<div class="input-group-wrapper">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">New Password</span>
							<input class="form-control" type="password" name="password-1">
						</div>
						<div class="input-group-padding"></div>
						<div class="input-group input-group-lg">
							<span class="input-group-addon">Type again</span>
							<input class="form-control" type="password" name="password-2">
						</div>
					</div>
					<div class="form-actions form-actions-lg">
						<button type="submit" class="btn btn-success btn-lg">Set new password</button>
					</div>
				</form>
			</div>
		</div>
		<div class="form-success v-centered fixed">
			<div>
				<h1 class="sub-header">Reset your password</h1>
				<h2 class="big">New Password Set Successfully!</h2>
				<p>You can now log in with your new password.</p>
				<a href="/login" class="btn btn-default"><i class="icon">&#61760</i>Go to log in</a>
			</div>
		</div>
	</div>

	<script>
		window.pageName = 'reset_password';
	</script>
	{% include '../includes/pages-js.html' %}
{% endblock %}
