<!DOCTYPE html>
<html>
	<head>
		<title>Vibe</title>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<script data-main="js/build/start" src="/js/libs/require.js"></script>
		<link rel="stylesheet" href="/css/all.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	</head>
	<body></body>
</html>
