{% extends '../layouts/default.html' %}

{% block content %}
	<script>
		window.Vibe = window.Vibe || {};

		window.Vibe.serverUrl = '/';
		window.staticRoute = '/';
		window.fayeServerRoute = 'http://localhost:8000/';

		window.Vibe._data_ = {};

		window.Vibe._data_.currentUser = {{ JSON.stringify(currentUser.stripInfo()) }};
		window.Vibe._data_.sessionID = '{{ sessionID }}';

		window.isCordova = false;
	</script>
	<script data-main="js/build/start" src="/js/libs/require.js"></script>
{% endblock %}
