{% extends '../layouts/default.html' %}

{% block content %}
	<div id="vibe-app"></div>
	<script>
		window.Vibe._data_.currentUser = {{ JSON.stringify(currentUser.stripInfo()) }};
		window.Vibe._data_.sessionID = '{{ sessionID }}';
		window.Vibe._data_.admins = {{ JSON.stringify(data.admins) }};

		window.isCordova = false;
	</script>

	{% if env == 'development' %}
	<script data-main="/js/build/start" src="/js/libs/require.js"></script>
	{% else %}
	<script src="/js/production/all.js"></script>
	<script>
		require(['vibe']);
	</script>
	{% endif %}
{% endblock %}
