.makeBounceZoom(popZoom, 1, 1.08, .97, 1);
.makeBounceZoom(popZoomReverse, 1, 0.92, 1.03, 1);

.posts-view-wrap {
	.new-posts-button {
		width: 100%;
		font-size: 18px;
		visibility: hidden;
		height: 0;
		padding: 0;
		margin: 0;
		display: block;
		opacity: 0;
		.transition(all 0.24s ease-in-out);

		&.show {
			opacity: 1;
			visibility: visible;
			height: 50px;
			padding: 12px;
			margin-top: 30px;
			.transition(all 0.18s ease-in-out);
		}
	}

	.posts-view-empty {
		border: 2px solid rgba(255, 255, 255, 0.07);
		border-radius: 10px;
		padding: 50px 0;
		margin-top: 10px;

		@media (max-width: @screen-xs) {
			margin-top: 70px;
			padding: 20px 0;
		}

		.media {
			text-align: left;
			max-width: 526px;
			margin: 0px auto 0;

			i {
				font-size: 136px;
				height: 140px;
				line-height: 151px;
				color: lighten(@vibe-orange, 6%);

				@media (max-width: @screen-xs) {
					font-size: 100px;
					height: 120px;
					line-height: 131px;
					width: 90px;
				}
			}

			h4 {
				font-size: 32px;
				font-weight: 600;
				opacity: 0.8;
				margin-top: 10px;
				padding: 0;

				@media (max-width: @screen-xs) {
					font-size: 18px;
				}
			}

			p {
				font-size: 18px;
				opacity: 0.3;

				@media (max-width: @screen-xs) {
					font-size: 12px;
				}
			}
		}
	}
}

.posts-view {
	list-style: none;
	padding: 32px 0 0 0;

	@media (max-width: @screen-xs) {
		padding: 20px 0 0 0;
	}

	& > div {
		display: block;
		position: relative;
		border-radius: @border-radius-large;
		margin: 0 0 32px 0;
		.stdBoxShadow();

		@media (max-width: @screen-xs) {
			margin: 0 0 20px 0;
		}

		a.pull-down {
			.x-icon-wrap;
		}

		h4 {
			font-size: 28px;
			font-weight: 600;
			padding: 40px 60px;

			@media (max-width: @screen-xs) {
				font-size: 20px;
				padding: 22px 18px;
			}
		}

		&.feedback-item-view {
			h4 {
				padding: 40px 60px 24px;

				@media (max-width: @screen-xs) {
					padding: 24px 32px 18px;
				}
			}
		}
	}
}
