.post-overlay-view {

	.post-wrapper {
		z-index: 200;
		background: transparent;
		height: 100%;

		.container {
			position: relative;
			height: 100%;
			.translate3d(0, 0, 0);
			.transition(all 0.24s ease-in-out);
		}

		.new-post {
			position: absolute;
			top: 0;
			left: 15px;
			right: 15px;
			width: auto;
			height: 48px;
			.translate3d(0,0,0);
			.transition(~"all 0.24s ease-out, box-shadow 0.24s ease-out 0.36s");

			&:hover {
				background: @vibe-lighter;
				border-color: @vibe-lighter;
			}

			.initButtonText {
				.translate3d(0, 0, 0);
				opacity: 1;
				.transition(all 0.18s ease-out);
			}

			.input-wrap {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;

				.v-centered {
					cursor: text;
				}

				textarea {
					width: 100%;
					color: white;
					font-family: 'Lato', 'Helvetica Neue';
					background: transparent;
					font-weight: 500;
					font-size: 28px;
					border: none;
					padding: 24px 60px;
					height: 88px;
					text-align: center;
					resize: none;
					overflow: hidden;
					margin: 0 0 -40px 0;

					@media (max-width: @screen-xs) {
						font-size: 18px;
						margin: 0 0 -12px 0;
						padding: 24px;
					}

					&:focus {
						box-shadow: none;
						outline: none;
					}
				}

				.messaging {
					position: absolute;
					bottom: 24px;
					left: 24px;
					color: rgba(255,255,255,0.4);

					@media (max-width: @screen-xs) {
						font-size: 9px;
						bottom: 15px;
						left: 15px;
					}
				}

				.length-marker {
					position: absolute;
					bottom: 24px;
					right: 24px;
					color: white;

					@media (max-width: @screen-xs) {
						font-size: 9px;
						bottom: 15px;
						right: 15px;
					}
				}
			}
		}
	}
}

.overlay-container.expand .post-overlay-view {
	.post-wrapper {
		.container {
			.translate3d(0, calc(~"50% - 250px"), 0);

			@media (max-height: 650px) {
				.translate3d(0, calc(~"50% - 220px"), 0);
			}

			@media (max-height: 570px) {
				.translate3d(0, calc(~"50% - 180px"), 0);
			}

			@media (max-width: @screen-xs) {
				.translate3d(0, 10px, 0);
			}
		}

		.new-post {
			height: 500px;
			box-shadow: 0 6px 20px rgba(0,0,0,.3);
			-webkit-animation: bounceDownUp 0.39s linear 0s forwards;
			animation: bounceDownUp 0.39s linear 0s forwards;

			@media (max-height: 650px) {
				height: 440px;
			}

			@media (max-height: 570px) {
				height: 360px;
			}

			@media (max-width: @screen-xs) {
				height: 220px;
				box-shadow: 0 4px 10px rgba(0,0,0,.3);
				-webkit-animation: bounceDownUpSmall 0.39s linear 0s forwards;
				animation: bounceDownUpSmall 0.39s linear 0s forwards;
			}

			.initButtonText {
				.translate3d(0, 120px, 0);
				opacity: 0;
			}

			.input-wrap {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
}
