.question-list-view {
	list-style: none;
	text-align: left;
	padding: 10px 0;
	margin: 0;

	li {
		display: block;
		padding: 10px 0;
		position: relative;

		h3 {
			font-size: 18px;
			margin: 0 40px 0 15px;

			@media (max-width: @screen-xs) {
				margin: 0 40px 0 0;
			}
		}

		a {
			position: absolute;

			top: 6px;
			right: 0;
		}
	}
}
