.welcome {
	margin: 0 auto;
	text-align: left;
	padding: 18px 15px 18px 79px;
	position: relative;

	img {
		position: absolute;
		border-radius: 400px;
		width: 48px;
		height: 48px;
		top: 17px;
		left: 15px;
	}

	h2 {
		font-weight: 200;
		font-size: 20px;
		margin: 0 0 2px 0;
		padding: 0;
		color: #c3d4e6;

		strong {
			color: white;
			font-weight: 200;
		}
	}

	p {
		color: darken(#3c6b9a, 8%);
		margin: 0;	
		font-size: 16px;

		strong {
			color: #3c6b9a;
		}
	}
}
