@import 'mixins';
@import 'bootstrap';
@import 'colors';
@import 'header';
@import 'icon-font/icon';
@import 'icon-font/kraken';

html, body {
	text-align: center;
	background: @vibe-primary;
	color: white;
	font-family: 'Lato', sans-serif;
}

.screen {
	position: fixed;
	top: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-overflow-scrolling: touch;
	z-index: 10;

	&.current {
		z-index: 20;
	}

	&.full {
		z-index: 100;
		top: 0;
		background: @vibe-primary;

		&.current {
			z-index: 120;
		}
	}
}

.app-content {
	margin-top: 64px;
	padding: 40px;
}
