.btn {
	padding: (@padding-base-vertical - 1px) @padding-base-horizontal (@padding-base-vertical + 1px);

	i {
		display: inline-block;
		height: @font-size-base;
		vertical-align: top;
		margin-top: -1px;
	}

	&.btn-lg {
		padding: (@padding-large-vertical - 1px) @padding-large-horizontal (@padding-large-vertical + 1px);

		i {
			height: @font-size-large;
		}
	}
}

.btn-default {
	color: rgba(255,255,255,.92);
	border: 1px solid rgba(255,255,255,.37);
	background: transparent;

	&:hover {
		color: rgba(255,255,255,1);
		border: 1px solid rgba(255,255,255,.44);
		background: transparent;
	}
}

.btn-success {
	background: @vibe-green;

	&:hover {
		background: lighten(@vibe-green, 4%);
	}
}

.btn-link:hover {
	color: white;
	text-decoration: none;
}

.btn-info {
	background: @vibe-lighter;
	border-color: @vibe-lighter;

	&:hover {
		background: lighten(@vibe-lighter, 6%);
		background-color: lighten(@vibe-lighter, 6%);
	}
}

.btn-full {
	width: 100% !important;
}

.x-icon {
	color: rgba(255,255,255,0.3);
	.rotate(45deg);
	display: inline-block;

	&:hover {
		color: rgba(255,255,255,0.8);
		text-decoration: none;
	}
}

.x-icon-wrap {
	position: absolute;
	top: -8px;
	right: -8px;
	background: rgb(35, 37, 41);
	color: white;
	text-align: center;
	width: 32px;
	height: 32px;
	border-radius: 100px;
	.stdBoxShadow();

	i {
		color: rgba(255, 255, 255, 0.45);
		margin: 0 0 0 -2px;
	}
}
