.overlay-container.expand .chat-view {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1, 1);
			transform: translate3d(0, 0, 0) scale(1, 1);
}

.chat-view {
	max-width: 580px;
	height: 524px;
	margin: 0 auto;
	position: relative;
	background: #24282C;
	border-radius: @border-radius-large;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.04), 0 7px 18px rgba(0,0,0,.14), inset 0 2px 180px rgba(0, 0, 0, 0.2);

	opacity: 0;
	-webkit-transform: translate3d(0, 10px, 0) scale(0.96, 0.96);
			transform: translate3d(0, 10px, 0) scale(0.96, 0.96);
	.transition(all 0.14s ease-out);

	.chat-header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border-radius: @border-radius-large @border-radius-large 0 0;
		height: 50px;
		text-align: left;
		padding: 14px 24px;
		background: #292D31;
		position: relative;
		z-index: 1000;
		.stdBoxShadow();

		a.close-chat {
			.x-icon-wrap;
			background: #18191B;

			&:hover {
				background: #1D1E20;
			}
		}
	}

	.form-inline {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		border-radius: 0 0 @border-radius-large @border-radius-large;
		background: #292D31;
		.stdBoxShadow();

		img {
			width: 58px;
			height: 58px;
			border-radius: 100px;
			background: #aaa;
			position: absolute;
			top: 14px;
			left: 24px;
		}

		.form-group {
			margin: 0 114px 0 88px;
			display: block;
			vertical-align: middle;
			width: auto;
		}

		input {
			background: darken(@vibe-grey-dark, 8%);
			border-color: darken(@vibe-grey-dark, 8%);
			.placeholderTextColor(#444);
		}

		button {
			position: absolute;
			top: 16px;
			right: 24px;
		}
	}

	.chat-scroll-container {
		padding: 16px 24px;
		overflow-y: scroll;
		height: calc(~"100% - 137px");

		.chats-container {
			.chat-item {
				position: relative;
				padding: 12px 0;

				img {
					width: 58px;
					height: 58px;
					border-radius: 100px;
					background: #aaa;
					position: absolute;
					top: 12px;
					left: 0;
				}

				.chat-bubble {
					margin: 0 0 0 80px;
					border-radius: @border-radius-large;
					background: @vibe-light;
					color: white;
					text-align: left;
					padding: 10px 14px;
					.stdBoxShadow();

					p {
						margin: 0 0 4px;
						font-size: 16px;
						color: white;
					}

					span {
						display: block;
						font-size: 11px;
						color: white;
						opacity: 0.4;
					}
				}
			}
		}

		.chat-empty-state {
			.media {
				margin: 0 auto;
				width: 420px;
				text-align: left;

				i {
					color: rgba(46, 204, 113, 0.75);
					font-size: 92px;
					height: 100px;
					line-height: 114px;
					margin-right: 25px;
				}

				h4 {
					font-size: 28px;
					font-weight: 600;
					line-height: 32px;
					margin-top: 1px;
					margin-bottom: 7px;
					opacity: 0.6;
				}

				p {
					font-size: 20px;
					opacity: .3;
				}
			}
		}
	}
}
