.control-group {
	margin: 0 0 8px 0;
}

input {
	padding: 18px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: #1A344E;
	border: 2px solid #23405c;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.08);
	color: white;

	.placeholderTextColor(#416180);

	&:focus {
		border: 2px solid #205283;
	}
}

form.login {
	margin: 20px 0 0;
	.form-actions {
		margin: 20px 0 0 0;
	}
}

.btn {
	font-size: 18px;
	padding: 10px 34px;
}

.btn-success {
	background: #2ecc71;

	&:hover {
		background: lighten(#2ecc71, 4%);
	}
}

