input, label {
	font-family: 'Lato', sans-serif;
}


// Form Overall & Addons

form > .alert {
	display: none;

	&.show {
		display: block;
	}
}


// Input & Interactions

.form-control {
	padding: 18px;
	border-radius: 5px;
	outline: none;
	border: 2px solid @vibe-muted;
	background: @vibe-muted;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.08);
	color: white;
	.placeholderTextColor(#416180);

	&:focus {
		outline: 0;
		border: 2px solid saturate(lighten(@vibe-muted, 8%), 3%);
		background: lighten(@vibe-muted, 2%);
		box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 0 20px 1px rgba(255,255,255,0.02);
	}
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	border: 2px solid @vibe-muted;
	background: @vibe-muted;
	opacity: .4;
}


// Groupings & macro

.form-horizontal {
	.form-group {
		margin-left: 0;
		margin-right: 0;
	}
}

.input-group-wrapper {
	display: table;

	.input-group {
		display: table-row;
	}

	.input-group-padding {
		display: table-row;
		height: 20px;
	}
}

.input-group,
.form-group {
	margin: 0 0 16px 0;

	&.form-group-lg,
	&.input-group-lg {
		margin: 0 0 20px 0;
	}

	.input-group-addon {
		background: @vibe-darker;
		border-color: @vibe-darker;
		color: white;
		font-weight: 600;
	}
}

label.input-lg {
	line-height: 2.2;
	padding: 0;
}

.form-actions {
	margin: @line-height-computed 0 0 0;

	&.form-actions-lg {
		margin: 24px 0 0 0;
	}
}


// Custom form classes

.form-step-wrapper {
	position: relative;

	.form {
		top: 0;
		left: 0;
		right: 0;
		position: relative;
		opacity: 1;
		visibility: visible;
		.translate3d(0, 0px, 0);
		.transition(all 0.18s ease-in-out);
	}

	.form-success {
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		position: absolute;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		.translate3d(0, -20px, 0);
		.transition(all 0.18s ease-in-out 0.10s);
	}

	&.success {
		.form {
			position: absolute;
			visibility: hidden;
			pointer-events: none;
			opacity: 0;
			.translate3d(0, 20px, 0);
		}

		.form-success {
			position: relative;
			visibility: visible;
			pointer-events: auto;
			opacity: 1;
			.translate3d(0, 0, 0);
		}
	}
}

form {
	.alert-danger {
		display: none;
	}

	&.step-1, &.step-2, &.step-3 {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;

		.container {
			.translate3d(40px,0,0);
			transition: opacity 0.26s ease-in-out, transform 0.26s ease-in-out;
			-webkit-transition: opacity 0.26s ease-in-out, -webkit-transform 0.26s ease-in-out;
			height: 0;
			overflow: hidden;
			padding: 20px 0;
		}

		&.v-centered > div {
			padding-top: 150px;
		}

		&.active {
			pointer-events: auto;

			.container {
				opacity: 1;
				visibility: visible;
				height: auto;
				overflow: auto;
				.translate3d(0,0,0);
			}
		}

		&.old {
			pointer-events: auto;

			.container {
				opacity: 0;
				visibility: hidden;
				height: 0;
				overflow: hidden;
				.translate3d(-40px,0,0);
			}
		}
	}

	&.step-2, &.step-3 {
		pointer-events: none;

		.container {
			transition: opacity 0.26s ease-in-out 0.22s, transform 0.26s ease-in-out 0.22s;
			-webkit-transition: opacity 0.26s ease-in-out 0.22s, -webkit-transform 0.26s ease-in-out 0.22s;
			visibility: hidden;
			height: 0;
			overflow: hidden;
			opacity: 0;
		}

		&.active .container {
			transition: opacity 0.26s ease-in-out, transform 0.26s ease-in-out;
			-webkit-transition: opacity 0.26s ease-in-out, -webkit-transform 0.26s ease-in-out;
		}
	}
}

// Custom checkbox
div.checkbox {
	background: @vibe-dark;
	border-radius: 5px;
	width: 28px;
	height: 28px;
	position: relative;
	display: inline-block;

	input {
		visibility: hidden;
	}

	label {
		cursor: pointer;
		position: absolute;
		width: 28px;
		height: 28px;
		top: 0;
		left: 0;

		&:after {
			opacity: 0;
			content: '';
			position: absolute;
			width: 26px;
			height: 11px;
			background: transparent;
			top: 6px;
			left: 2px;
			border: 4px solid #fcfff4;
			border-top: none;
			border-right: none;
			.transition(all 0.18s ease-out);
			-webkit-transform: rotate(-45deg) scale(0.9, 0.9);
			  -ms-transform: rotate(-45deg) scale(0.9, 0.9);
				  transform: rotate(-45deg) scale(0.9, 0.9);
		}

		&:hover:after {
			opacity: 0.3;
		}
	}

	input[type=checkbox]:checked + label:after {
		opacity: 1;
		top: 5px;
		left: 4px;
		-webkit-transform: rotate(-45deg) scale(1.0, 1.0);
		  -ms-transform: rotate(-45deg) scale(1.0, 1.0);
			  transform: rotate(-45deg) scale(1.0, 1.0);
	}

	input[disabled] + label:after {
		opacity: 0.4 !important;
	}
}
