.header-view {
	background: @vibe-light;
	padding: 0;
	height: 64px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 30;
	box-shadow: 0 1px 10px rgba(0, 23, 44, 0.08);

	.container {
		position: relative;
		padding: 0;
	}

	.header-components {
		padding: 22px 0 10px;
		height: 64px;
		width: 100%;
		position: absolute;

		&.animate-pushLeft {
			&.new {
				h2 {
					.translate3d(100%, 0, 0);
					opacity: 0;
				}
				a {
					opacity: 0;
				}
			}
			&.old {
				h2 {
					.translate3d(-40%, 0, 0);
					opacity: 0;
				}
				a {
					opacity: 0;
					.transition(opacity 0.18s ease-in-out 0s);
				}
			}
		}

		&.animate-pushRight {
			&.new {
				h2 {
					.translate3d(-100%, 0, 0);
					opacity: 0;
				}
				a {
					opacity: 0;
				}
			}
			&.old {
				h2 {
					.translate3d(40%, 0, 0);
					opacity: 0;
				}
				a {
					opacity: 0;
					.transition(opacity 0.18s ease-in-out 0s);
				}
			}
		}

		&.animate-slideDown {
			&.new {
				h2 {
					opacity: 0;
				}
				a {
					opacity: 0;
				}
			}
			&.old {
				h2 {
					opacity: 0;
					.transition(all 0s);
				}
				a {
					opacity: 0;
					.transition(all 0s);
				}
			}
		}

		&.new {
			h2, a {
				opacity: 0;
			}
		}

		h2 {
			margin: 0;
			padding: 0;
			font-weight: 600;
			font-size: 28px;
			line-height: 32px;
			cursor: default;
			position: absolute;
			width: 100%;
			text-align: center;
			pointer-events: none;
			opacity: 1;

			.translate3d(0, 0, 0);
			.transition(all 0.18s ease-in-out);

			&.small {
				font-size: 20px;
				line-height: 36px;
			}
		}

		a {
			position: absolute;
			color: white;
			font-size: 18px;
			top: 13px;
			padding: 11px 8px 4px;
			opacity: 1;
			.transition(opacity 0.18s ease-in-out 0.1s);

			span {
				font-size: 20px;
				font-weight: 100;
				line-height: 32px;
			}

			i {
				font-size: 24px;
			}

			&.left-action {
				left: 15px;

				@media (max-width: @screen-xs) {
					left: 0;
				}

				i {
					float: left;
					margin-right: 8px;
				}
			}

			&.right-action {
				right: 15px;

				@media (max-width: @screen-xs) {
					right: 0;
				}

				i {
					float: right;
					margin-left: 8px;
				}
			}
		}
	}
}
