.header-view {
	background: @vibe-light;
	padding: 15px;
	height: 64px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	h2 {
		margin: 0;
		font-weight: 600;
		font-size: 32px;
	}

	a {
		position: absolute;
		color: white;
		font-size: 18px;
		top: 4px;
		padding: 13px;

		&.left-action {
			left: 0px;
		}

		&.right-action {
			right: 0px;
		}
	}
}
