.placeholderTextColor(@color) {
	&::-webkit-input-placeholder {
	   color: @color;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: @color;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: @color;
	}

	&:-ms-input-placeholder {
	   color: @color;
	}
}

.makeBounceUp(@name, @origin, @top, @reach, @end) {
	@keyframes @name {
	  0% {
		opacity: 0;
		.translate3d(0, @origin, 0);
	  }

	  60% {
		opacity: 1;
		.translate3d(0, @top, 0);
	  }

	  80% {
		.translate3d(0, @reach, 0);
	  }

	  100% {
		opacity: 1;
		.translate3d(0, @end, 0);
	  }
	}

	@-webkit-keyframes @name {
	  0% {
		opacity: 0;
		.translate3d(0, @origin, 0);
	  }

	  60% {
		opacity: 1;
		.translate3d(0, @top, 0);
	  }

	  80% {
		.translate3d(0, @reach, 0);
	  }

	  100% {
		opacity: 1;
		.translate3d(0, @end, 0);
	  }
	}
}
