.overlay-container {
	background: rgba(6, 11, 29, 0);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
	opacity: 1;
	visibility: hidden;
	pointer-events: none;
	.transition(background 0.16s ease-out);

	& > div {
		opacity: 1;
		.transition(all 0.24s ease-in-out);
	}

	&.show-top-bar {
		top: 64px;
	}

	&.expand {
		pointer-events: auto;
		visibility: visible;
		background: rgba(6, 11, 29, 0.8);
	}

	&.remove {
		opacity: 0;
		.transition(all 0.24s ease-out 0.08s);

		& > div {
			opacity: 0;
		}
	}
}
