{% extends '../layouts/email.html' %}

{% block content %}
<p>
	Hey {{ name }},
</p>
<p>
	Great job setting up! Vibe's mission is to empower proper, efficient information flow -- people can only solve the right problems and the right times if they have the right information. We want to help supercharge your organization by applying intelligence.
</p>
<h3>Get the app!</h3>
<p>
	<a href="https://play.google.com/store/apps/details?id=org.vibeapp.vibe"><strong>Download for Android:</strong></a>
	<br />
	<a href="http://www.testflightapp.com/install/c89434e98f4da18192bdf8b48d535d55-MTIyMjI1NzY/"><strong>Download for iPhone:</strong></a>
	<br />
	<a href="https://www.getvibe.com/"><strong>Go to the web version</strong></a>
</p>
<h3>You have control</h3>
<p>
	We have your back. All posts must flow through admins, which includes you.
</p>
<h3>Start it off right: Celebrate a win</h3>
<p>
	Even suggestions from you are anonymous on Vibe. That's powerful: you can start it off right and mold the culture to be optimal for your business.
</p>
<h3>Stay in touch</h3>
<p>
	You make Vibe tick. If you ever have product suggestions, email them to zach@getvibe.com. I'll respond!
</p>
<p>
Thanks,<br />
The Vibe Team
</p>
{% endblock %}
