{% extends '../layouts/email.html' %}

{% block content %}
<p>
	Hey {{ name }},
</p>
<p>
	Great job setting up! Vibe's mission is to empower proper, efficient information flow -- people can only solve the right problems and the right times if they have the right information. We want to help supercharge your organization by applying intelligence.
</p>
<h3>You have control</h3>
<p>
	Anonymity can be a little strange, but don't worry -- we have your back. All posts must flow through admins, which includes you.
</p>
<h3>Start it off right: Celebrate a win</h3>
<p>
	Even posts from you are anonymous on Vibe. That's powerful: you can start it off right and mold the culture to be optimal for your business.
</p>
<h3>Stay in touch</h3>
<p>
	It is you who makes Vibe tick. If you ever have product suggestions, email them to zach@getvibe.org. I'll respond!
</p>
<p>
Thanks,<br />
The Vibe Team
</p>
{% endblock %}
