<!DOCTYPE html>
<html>
	<head>
		{% include '../includes/head.html' %}
		{% block extra_head %}
		{% endblock %}
	</head>
	<body>
		<script>
			window.Vibe = window.Vibe || {};

			window.Vibe.serverUrl = '/';
			window.staticRoute = '/';

			{% if env == 'development' %}
			window.fayeServerRoute = 'http://localhost:{{ port }}/faye';
			{% else %}
			window.fayeServerRoute = 'http://getvibe.com:{{ port }}/faye';
			{% endif %}

			window.Vibe._data_ = {};
		</script>
		{% block content %}
		{% endblock %}
	</body>
</html>
