<!DOCTYPE html>
<html>
	<head>
		{% include '../includes/head.html' %}
		{% block extra_head %}
		{% endblock %}
	</head>
	<body>
		<script>
			window.Vibe = window.Vibe || {};

			{% if env == 'development' %}
			window.fayeServerRoute = 'http://localhost:{{ port }}/faye';
			window.Vibe.serverUrl = '/';
			{% else %}
			window.fayeServerRoute = 'https://live.getvibe.com/faye';
			window.Vibe.serverUrl = 'https://getvibe.com/';
			{% endif %}

			window.staticRoute = window.Vibe.serverUrl;

			window.Vibe.config = {
				cloudfrontDomain: '{{ config.AWS.cloudfrontDomain }}'
			};

			window.Vibe._data_ = {};
		</script>
		{% block content %}
		{% endblock %}
	</body>
</html>
