<!DOCTYPE html>
<html>
	<head>
		{% include '../includes/head.html' %}

		<link rel="stylesheet" href="/css/splash.css">

		{% block extra_head %}
		{% endblock %}
	</head>
	<body>
		<div class="page-header">
			<a href="/" class="btn btn-default btn-lg back"><i class="icon">&#61760</i><span> Back home</span></a>
		</div>
		<div class="page-content v-centered">
			<div class="content-container text-center">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		{% include '../includes/splashAnalytics.html' %}
	</body>
</html>
